@font-face {
  font-family: "LibreFranklin";
  src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "LibreFranklin-bold";
  src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Libre Franklin 400";
  src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Libre Franklin 600";
  src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "LibreFranklin" !important;
  color: #000000 !important;
  font-weight: 300 !important;
  background-image: url(/src/bgNew.svg);
}

.logo {
  margin-top: 20px;
}

.profile {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "LibreFranklin-bold";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Libre Franklin 600";
}

.profile-link {
  margin-right: 20px;
  cursor: pointer;
}

.profile-lang {
  margin-right: 10px;
  color: #0f71cb;
  cursor: pointer;
}

.profile-link a,
.profile-lang a {
  text-decoration: none;
  cursor: pointer;
}

.partion {
  border-right: 2px solid #dadada;
}
.container-row {
  margin: 60px 0;
}

.info {
  border-radius: 0 0 24px 24px;
  height: 200px;
  background-color: #edf0f4;
  border: 1px solid #edf0f4;
  box-shadow: 0px 35px 35px 10px rgb(0 0 0 / 20%);
  font-size: 14px;
  padding: 40px;
}

.small-info {
  height: 130px;
}

.container-body {
  padding: 60px 60px 60px 100px;
  border-radius: 24px 24px 0 0;
  background-color: #ffffff;
  box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.2);
}

.container-registration {
  padding: 60px 0 60px 0;
  border-radius: 24px 24px 0 0;
  background-color: #ffffff;
  box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.2);
}

.container-body h4 {
  margin-bottom: 60px;
}

.content {
  padding-top: 2.25rem;
  font-size: 16px;
}

.content-items {
  margin-bottom: 20px;
}

.button-section {
  padding-top: 20px;
}

.button-section .button {
  margin: 10px 0;
}
.footer-container {
  padding: 60px 0;
  font-size: 14px;
  font-weight: 300;
}

.header-container {
  margin-bottom: 100px;
}

.check-circle {
  font-size: 20px;
}

.button-icon {
  font-size: 20px;
  margin: 0 5px;
}

.bullet-points {
  padding-left: 1.5rem !important;
}

.nav-link {
  color: #000000 !important;
  text-decoration: underline !important;
  font-family: "LibreFranklin" !important;
  font-weight: 300;
}

.lang-sel {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.stepper-item {
  border-right: 1px solid #dadada;
}

.stepper-item:last-child {
  border: none;
}

.stepper-item .step-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #0f71cb;
  color: #0f71cb;
  line-height: 30px;
  margin-left: 15px;
}

.reg-steps {
  margin: 30px 0 60px 0;
}

.step-highlight {
  font-size: 24px;
  font-family: "Libre Franklin 600";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #0f71cb;
  color: #ffffff;
  margin-bottom: 15px;
}

input[type="text"],
input[type="search"],
select {
  background: #f7f7f7;
  border-radius: 6px 6px 0px 0px;
  height: 40px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #8e8e8e;
  width: 100%;
  color: #8d8d8d;
  font-size: 16px;
}

.regular-checkbox {
  -webkit-appearance: none;
  border: 2px solid #939393;
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  border: 2px solid #0f71cb;
  color: #ffffff;
  background-color: #0f71cb;
}

.regular-checkbox:checked:after {
  content: "\2713";
  font-size: 14px;
  position: absolute;
  top: -3px;
  left: 3px;
  color: #ffffff;
  vertical-align: middle;
}

input[type="text"],
input[type="search"] {
  padding-left: 5px;
}

select {
  text-indent: 5px;
}

textarea {
  background: #f7f7f7;
  border-radius: 6px 6px 0px 0px;
  height: 120px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #8e8e8e;
  margin: 0 10px;
  width: 100%;
  color: #8d8d8d;
  font-size: 16px;
}

.head-section {
  margin-bottom: 60px;
}

.btn-group-lg > .btn,
.btn-lg {
  margin: 0 20px;
}
.companydata-form label {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "LibreFranklin-bold";
}

.section-divider {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: "LibreFranklin-bold";
}

.section-divider:before,
.section-divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #dadada;
  margin: auto;
}

.section-divider span {
  height: 25px;
  width: 210px;
  margin: 60px 0;
}

.company-hint {
  color: #717171;
  font-size: 12px;
  font-family: "Libre Franklin 400";
  padding-top: 10px;
}

.form-data {
  margin-bottom: 30px;
}

.form-heading {
  font-size: 18px;
  font-family: "Libre Franklin 600";
  padding: 30px 0;
}

.calender {
  position: relative;
}
.date-picker input {
  padding-right: 30px;
}

.calender-icon,
.error-icon {
  position: absolute;
  right: 24px;
  top: 42px;
  color: #939393;
}

.user-icon {
  background-color: #0f71cb;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(/src/vector.png);
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.user {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #303030;
  border-radius: 4px;
  color: #fff;
  margin: 7px 0 0px -88px;
  font-size: 14px;
  padding: 13px;
  width: 220px;
  position: absolute;
  display: none;
  font-family: "LibreFranklin-bold";
}

.tooltiptext:before {
  border: solid;
  border-color: #303030 transparent;
  border-width: 0 5px 8px 5px;
  content: "";
  left: 45%;
  top: -8px;
  position: absolute;
}

.user label {
  display: inline-block;
}

.user input {
  display: none;
}

.user input:checked ~ .tooltiptext {
  display: block;
}

.logout {
  text-decoration: underline;
  cursor: pointer;
}

.list-group-cax {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-radius: 0.25rem;
}

.list-group-item-cax {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  color: #191715;
  text-decoration: none;
  background-color: #fff;
  border-top: 1px solid #dadada;
}

.list-group-item-cax:last-child {
  border-bottom: 1px solid #dadada;
}

.list-header {
  background: #edf0f4;
  border: none;
  font-family: "LibreFranklin-bold";
}
.send-invite {
  margin-bottom: 50px;
}

.list-group-item-delete {
  text-align: right;
  cursor: pointer;
}

.badge-cax {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #3f527e;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.bg-list-group-cax {
  background: #e1f1ff;
  border-radius: 2px;
}

.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: none;
  margin-bottom: 10px;
  font-family: "LibreFranklin-bold";
  font-size: 16px !important;
}

.info .button {
  margin: 0 10px;
}

.btn-default {
  border: 1px solid #0f71cb;
  color: #0f71cb;
  background-color: transparent;
}

.btn-primaryCax {
  color: #ffffff;
  background-color: #0f71cb !important;
}

.error label {
  color: #d91e18;
}

.error input[type="text"],
.error select {
  border-color: #d91e18;
}

.error-message {
  color: #d91e18;
  font-size: 12px;
  font-family: "Libre Franklin 400";
  padding-top: 10px;
}

.calender .error-icon {
  visibility: hidden;
}

.error .error-icon {
  color: #d91e18;
  visibility: visible;
}

.stepper-item {
  position: relative;
}

.step-border {
  position: absolute;
  border-bottom: 2px solid blue;
  top: 3em;
  left: 1.2em;
}

.company-role-section {
  background-image: linear-gradient(
    to right,
    #dadada 0%,
    #dadada 50%,
    transparent 50%
  );
  background-size: 28px 1px;
  background-repeat: repeat-x;
  padding: 30px 0;
}

.company-role-section:first-child {
  background-image: none;
  background-repeat: no-repeat;
  padding: 0 0 30px 0;
}

.companyRoleVisible {
  display: block;
}

.companyRoleHidden {
  display: none;
}

.companyRoleTnc ul {
  list-style-type: none;
  padding-left: 0;
}

.companyRoleTnc .regular-checkbox {
  margin-right: 1rem;
  padding: 6px;
}

.companyRoleTnc li {
  padding: 5px 0;
}

.companyRoleTnc .regular-checkbox:checked:after {
  left: 1px;
  top: -5px;
}

.underlineTnc {
  text-decoration: underline;
  color: #0f71cb;
  cursor: pointer;
}

.editIcon {
  color: #0f71cb;
  font-size: 20px;
  cursor: pointer;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 15em;
  background-color: #fafafa;
  align-items: center;
  border: 3px dashed #eeeeee;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 24px;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #000;
  font-weight: bold;
}
