@font-face {
    font-family: "LibreFranklin";
    src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
    font-weight: 300
    }

    @font-face {
        font-family: "LibreFranklin-bold";
    src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
    font-weight: 500
    }

    
    @font-face {
        font-family: "Libre Franklin 400";
    src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
    font-weight: 400
    }

    @font-face {
        font-family: "Libre Franklin 600";
    src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
    font-weight: 600
    }

    body {
        margin: 0;
        font-family: 'LibreFranklin' !important;
        color: #000000 !important;
        font-weight: 300 !important;
        background-image: url(/src/bgNew.svg);
      }
  

.logo{
    margin-top: 20px;
  }

  .profile{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    font-family: "LibreFranklin-bold";
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    font-family: "Libre Franklin 600";
  }

  .profile-link{
    margin-right: 20px;
    cursor: pointer;
  }

  .profile-lang{
    margin-right: 10px;
   color: #0F71CB;
   cursor: pointer;
   
   ;
  }

  .profile-link a, .profile-lang a {
    text-decoration: none;
    cursor: pointer;
  }

  .partion{
    border-right: 2px solid #DADADA;
  }
  .container-row{
    margin: 60px 0;
  }

  .info{
    border-radius: 0 0 24px 24px;
    height: 200px;
    background-color: #EDF0F4;
    border: 1px solid #EDF0F4;
    box-shadow: 0px 35px 35px 10px rgb(0 0 0 / 20%);
    font-size: 14px;
    padding: 40px;
  }

 .container-body{
     padding: 60px 60px 60px 100px;
     border-radius: 24px 24px 0 0;
     background-color: #ffffff;
     box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.2);
 }

 .container-registration{
    padding: 60px 0 60px 0;
    border-radius: 24px 24px 0 0;
    background-color: #ffffff;
    box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.2);
 }

 .container-body h4{
    margin-bottom: 60px;
 }

 .content{
 padding-top: 2.25rem;
 font-size: 16px;
 }

 .content-items{
     margin-bottom: 20px;
 }

 .button {
     background-color: #0F71CB !important;
     border-radius: none;
     margin-bottom: 10px;
     font-family: "LibreFranklin-bold";
     font-size: 18px !important;
 }

.button-section{
  padding-top:20px ;
}

.button-section .button{
  margin: 10px 0
}
 .footer-container{
     padding: 60px 0;
    font-size: 14px;
    font-weight: 300;
 }

 .header-container{
    margin-bottom: 100px;
 }

 .check-circle{
    margin-right: 10px;
 }

 

 .nav-link {
    color: #000000 !important;
    text-decoration: underline !important;
    font-family: 'LibreFranklin' !important;
    font-weight: 300;
}

.lang-sel {
    color:#000000;
   border-bottom: 2px solid #000000;
   
}

.stepper-item{
    border-right: 1px solid #DADADA; 
}

.stepper-item:last-child {
    border: none;
  }
  

.stepper-item .step-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #0F71CB;
    color: #0F71CB;
    line-height: 30px;
    margin-left: 15px;
 }

 .reg-steps{
    margin: 30px 0 60px 0;
 }

 .step-highlight{
    font-size: 24px;
    font-family: "Libre Franklin 600";
    height:50px;
    width:50px;
    border-radius: 50%; 
    background-color: #0F71CB;
    color:#ffffff;
    margin-bottom: 15px;
}

input, select{
    background: #F7F7F7;
    border-radius: 6px 6px 0px 0px;
    height:40px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #8E8E8E;
    margin: 0 10px;
    width:100%;
    color:#8D8D8D;
    font-size: 16px;
}

textarea{
  background: #F7F7F7;
  border-radius: 6px 6px 0px 0px;
  height:120px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #8E8E8E;
  margin: 0 10px;
  width:100%;
  color:#8D8D8D;
  font-size: 16px;
}

.head-section{
    margin-bottom:60px;
}

.btn-group-lg>.btn, .btn-lg{
   margin: 0 20px;
}
.companydata-form label{
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "LibreFranklin-bold";
}



.section-divider {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-family: "LibreFranklin-bold";
}
  
.section-divider:before,
.section-divider:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #DADADA;
    margin: auto;
}
  
.section-divider span {
    height: 25px;
    width: 210px;
    margin: 60px 0;
}

.company-hint{
    color: #717171;
    font-size: 12px;
    font-family: 'Libre Franklin 400';
    padding-top: 10px;
}

.form-data{
    margin-bottom: 30px;
}

.form-heading{
   font-size: 18px;
   font-family: 'Libre Franklin 600';
   padding: 30px 0;
}

.calender{
  position: relative;
}
.date-picker input{
  padding-right: 30px;
}

.calender-icon{ 
  position: absolute;
  right: 24px;
  top: 42px;
  color: #939393;
}

.user-icon{
  background-color: #0F71CB;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(/src/vector.png);
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

 .user {
  position: relative;
  display: inline-block;
  cursor: pointer;
} 

.tooltiptext {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #303030;
  border-radius: 4px;
  color: #fff;
  margin: 7px 0 0px -88px;
  font-size: 14px;
  padding: 13px;
  width: 220px;
  position: absolute;
  display: none;
  font-family: 'LibreFranklin-bold';
}


.tooltiptext:before{
  border: solid;
  border-color: #303030 transparent;
  border-width: 0 5px 8px 5px;
  content: "";
  left: 45%;
  top: -8px;
  position: absolute;
}


.user label {
  display: inline-block;
}

.user input {
  display: none;
}

.user input:checked ~ .tooltiptext {
  display: block;
}

.logout{
text-decoration: underline;
cursor: pointer;
}