$button-colors: (
  primary: (
    background-color: color(primary),
    color: color(white),
    hover-background-color: color(primary-hover),
    disabled-background-color: color(gray-disabled),
  ),
  secondary: (
    background-color: color(secondary),
    color: color(primary),
    hover-background-color: color(secondary-hover),
    hover-color: color(primary-active),
    disabled-background-color: color(gray-disabled),
  ),
  outlined: (
    background-color: transparent,
    color: color(primary),
    border-color: color(primary),
    hover-color: color(primary-hover),
    disabled-background-color: transparent,
  ),
  text: (
    background-color: transparent,
    color: color(primary),
    hover-background-color: color(secondary-hover),
    hover-color: color(primary-active),
    disabled-background-color: transparent,
  ),
);

@mixin button-color-variant(
  $background-color,
  $color,
  $border-color: null,
  $hover-background-color: null,
  $hover-color: null,
  $disabled-background-color: color(gray-disabled),
  $disabled-color: color(gray)
) {
  background-color: $background-color;
  color: $color;
  border-color: $border-color;

  @if $hover-background-color or $hover-color {
    &:hover,
    &:active,
    &:focus {
      background-color: $hover-background-color;
      color: $hover-color;
    }
  }

  @if $disabled-background-color or $disabled-color {
    &:disabled,
    &.button-disabled {
      background-color: $disabled-background-color;
      color: $disabled-color;
      border-color: $disabled-color;
      cursor: default;
      pointer-events: none;
    }
  }
}

@mixin button-color-variants($element, $variants) {
  @each $variant in $variants {
    $button-color: map-get($button-colors, $variant);

    @if $button-color {
      &.#{$element}-#{$variant} {
        @include button-color-variant(
          map-get($button-color, background-color),
          map-get($button-color, color),
          map-get($button-color, border-color),
          map-get($button-color, hover-background-color),
          map-get($button-color, hover-color),
          map-get($button-color, disabled-background-color)
        );
      }
    }
  }
}
