@import '../../../scss/main';

$button-spacing-x: to-rem(28px);
$button-spacing-y: to-rem(16px);
$button-spacing-x-medium: to-rem(24px);
$button-spacing-y-medium: to-rem(14px);
$button-spacing-x-small: to-rem(18px);
$button-spacing-y-small: to-rem(10px);
$button-border-radius: to-rem(16px);
$button-border-width: to-rem(2px);

$color-variants: primary, secondary, outlined, text;

.button {
  @include typography(body-02);
  @include button-color-variants(button, $color-variants);

  border: none;
  border-radius: $button-border-radius;
  display: inline-block;
  padding: $button-spacing-y $button-spacing-x;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(color(primary), 0.4);
  }

  &.button-outlined {
    border-style: solid;
    border-width: $button-border-width;
    padding: #{$button-spacing-y - $button-border-width} #{$button-spacing-x - $button-border-width};
  }

  &.button-medium {
    padding: $button-spacing-y-medium $button-spacing-x-medium;

    &.button-outlined {
      padding: #{$button-spacing-y-medium - $button-border-width} #{$button-spacing-x-medium -
        $button-border-width};
    }
  }

  &.button-small {
    @include typography(body-03);
    padding: $button-spacing-y-small $button-spacing-x-small;

    &.button-outlined {
      padding: #{$button-spacing-y-small - $button-border-width} #{$button-spacing-x-small -
        $button-border-width};
    }
  }
}
