#
# Copyright (c) 2021 T-Systems International GmbH (Catena-X Consortium)
#
# See the AUTHORS file(s) distributed with this work for additional
# information regarding authorship.
#
# See the LICENSE file(s) distributed with this work for
# additional information regarding license terms.
#

# K8 server deployment, service and ingress 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: semantics
  namespace: semantics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: semantics
  template:
    metadata:
      labels:
        app: semantics
    spec:
      containers:
      - name: semantics
        image: $CONTAINER_REGISTRY/semantics/services${WORKSPACE}:$VERSION
        imagePullPolicy: $IMAGE_PULL_POLICY
        ports:
        env:
          - name: HUB_TRIPLE_STORE_EMBEDDED_ENABLED
            value: "false"
          - name: HUB_TRIPLE_STORE_BASE_URL
            value: "http://graphdb:3030"
          - name: HUB_TRIPLE_STORE_QUERY_ENDPOINT
            value: "/ds/query"
          - name: HUB_TRIPLE_STORE_UPDATE_ENDPOINT
            value: "/ds/update"
          # the fuseki instance does not require authentication yet
          # this variables need to be provided because they are mandatory in the application
          - name: HUB_TRIPLE_STORE_USERNAME
            value: "admin"
          - name: HUB_TRIPLE_STORE_PASSWORD
            value: "admin"
          - name: HTTPUSERNAME
            valueFrom:
              secretKeyRef:
                key: http_basic_auth_user
                name: semantics-secret
          - name: HTTPPASSWORD
            valueFrom:
              secretKeyRef:
                key: http_basic_auth_password
                name: semantics-secret
          - name: SPRING_DATASOURCE_DRIVERCLASSNAME
            value: org.postgresql.Driver
          - name: SPRING_SQL_INIT_PLATFORM
            value: pg
          - name: SPRING_DATASOURCE_URL          
            valueFrom:
              secretKeyRef:
                key: database_url
                name: semantics-secret
          - name: SPRING_DATASOURCE_USERNAME          
            valueFrom:
              secretKeyRef:
                key: database_user
                name: semantics-secret
          - name: SPRING_DATASOURCE_PASSWORD          
            valueFrom:
              secretKeyRef:
                key: database_password
                name: semantics-secret
          - name: IDP_ISSUER_URI
            valueFrom:
              secretKeyRef:
                key: idp_issuer_uri
                name: semantics-secret
---
apiVersion: v1
kind: Service
metadata:
  name: semantics
  namespace: semantics
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 4242
  selector:
    app: semantics
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: semantics-ingress
  namespace: semantics
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-service
    acme.cert-manager.io/http01-ingress-class: service
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/x-forwarded-prefix: "/semantics"
spec:
  ingressClassName: service
  tls:
  - hosts:
    - ${CATENA_SERVICE_URL}
    secretName: services-certificate-secret
  rules:
  - host: ${CATENA_SERVICE_URL}
    http:
      paths:
      - path: /semantics(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: semantics
            port:
              number: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adapter
  namespace: semantics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adapter
  template:
    metadata:
      labels:
        app: adapter
    spec:
      containers:
      - name: adapter
        image: $CONTAINER_REGISTRY/semantics/adapter${WORKSPACE}:$VERSION
        imagePullPolicy: $IMAGE_PULL_POLICY
        ports:
        env:
          - name: HTTPUSERNAME
            valueFrom:
              secretKeyRef:
                key: http_basic_auth_user
                name: semantics-secret
          - name: HTTPPASSWORD
            valueFrom:
              secretKeyRef:
                key: http_basic_auth_password
                name: semantics-secret
          - name: SPRING_DATASOURCE_DRIVERCLASSNAME
            value: org.postgresql.Driver
          - name: SPRING_SQL_INIT_PLATFORM
            value: pg
          - name: SPRING_DATASOURCE_URL          
            valueFrom:
              secretKeyRef:
                key: database_url
                name: semantics-secret
          - name: SPRING_DATASOURCE_USERNAME          
            valueFrom:
              secretKeyRef:
                key: database_user
                name: semantics-secret
          - name: SPRING_DATASOURCE_PASSWORD          
            valueFrom:
              secretKeyRef:
                key: database_password
                name: semantics-secret
          - name: IDSADAPTER_PORTALURL
            value: https://${CATENA_PORTAL_URL}
          - name: IDSADAPTER_SERVICEURL
            value: https://${CATENA_SERVICE_URL}/semantics/api/v1
          - name: IDSADAPTER_ADAPTERURL
            value: https://${CATENA_SERVICE_URL}/adapter/api/v1
          - name: IDSADAPTER_CONNECTORURL
            value: https://${CATENA_SERVICE_URL}/connectorprovider
          - name: IDSADAPTER_CONNECTORUSER
            valueFrom:
              secretKeyRef:
                key: connector_user
                name: semantics-secret
          - name: IDSADAPTER_CONNECTORPASSWORD
            valueFrom:
              secretKeyRef:
                key: connector_password
                name: semantics-secret
---
apiVersion: v1
kind: Service
metadata:
  name: adapter
  namespace: semantics
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 4242
  selector:
    app: adapter
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: adapter-ingress
  namespace: semantics
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-service
    acme.cert-manager.io/http01-ingress-class: service
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
spec:
  ingressClassName: service
  tls:
  - hosts:
    - ${CATENA_SERVICE_URL}
    secretName: adapter-certificate-secret
  rules:
  - host: ${CATENA_SERVICE_URL}
    http:
      paths:
      - path: /adapter(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: adapter
            port:
              number: 8080
# GRAPHDB
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: graphdb
  namespace: semantics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: graphdb
  template:
    metadata:
      labels:
        app: graphdb
    spec:
      containers:
      - name: graphdb
        image: $CONTAINER_REGISTRY/semantics/jena-fuseki:4.1.0
        imagePullPolicy: $IMAGE_PULL_POLICY
        env:
          - name: JAVA_OPTIONS 
            value: "-Xmx1048m -Xms1048m"
        args: ["--tdb2", "--update", "--loc", "databases/", "/ds"]
        resources:
          limits:
            memory: "1024Gi"
          requests:
            memory: "512Mi"
        volumeMounts:
        - name: graphdbdata
          mountPath: /fuseki/databases
        - name: graphdblog
          mountPath: /fuseki/logs
      volumes:
      - name: graphdbdata
        azureFile:
           secretName: graphdb-share-secret
           shareName: ${GRAPHDB_SHARE_NAME}/data
           readOnly: false
      - name: graphdblog
        azureFile:
           secretName: graphdb-share-secret
           shareName: ${GRAPHDB_SHARE_NAME}/log
           readOnly: false
---
apiVersion: v1
kind: Service
metadata:
  name: graphdb
  namespace: semantics
spec:
  type: ClusterIP
  ports:
  - port: 3030
    targetPort: 3030
  selector:
    app: graphdb