#
# Copyright (c) 2021 T-Systems International GmbH (Catena-X Consortium)
#
# See the AUTHORS file(s) distributed with this work for additional
# information regarding authorship.
#
# See the LICENSE file(s) distributed with this work for
# additional information regarding license terms.
#

###########################################################
# Configuration of the Semantic Layer including the 
# Semantic Hub
#    Managing Aspect Models
# Twin Registry 
#    Listing Digital Twins and their Aspect Implementations
# Simple Semantic Adapter Service
#    Connecting Backend Systems to Catena-X IDS
#    Providing Aspect Implementations = IDS Artifacts
#    Registering Owned Digitial Twins
###########################################################

#  Endpoint configuration for service provisioning and data pull
server:
  port: 4242
  ssl:
    key-store-password: __KEYSTOREPASSWORD__
    key-store: classpath:conf/__KEYSTOREFILENAME__.p12
    key-store-type: PKCS12
    key-alias: 1
    enabled: false

hub:
  triple-store:
    embedded:
      enabled: true
# Below is an example configuration to connect with an external fuseki instance.
# The configuration fits in when the above embedded.enabled property is set to false.
# The /test-dataset/ is the name of the dataset to execute against. Adjust it to your setup accordingly.
#   baseUrl: http://localhost:3030
#   queryEndpoint: /test-dataset/query
#   updateEndpoint: /test-dataset/update
#   username: admin
#   password: uThhL1IlENjtCKH


#security:
#  require-ssl: true
# This is the http transport we use to talk to the connector
http:
  timeout:
    write: 10000
    connect: 10000
    call: 10000
    read: 10000
licence_url: '@licence_url@'
spring:
  # Builtin persistence for hosting models, twins & data
  sql:
    init:
      platform: h2
      mode: always
  datasource:
    driverClassName: org.h2.Driver
    password: tractusx
    username: tractusx
    url: jdbc:h2:file:./semantics/persistence
  jpa:
    hibernate:
      ddl-auto: update
  # Configuration of http-endpoint host
  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 215MB
      file-size-threshold: 2KB
  # Builtin persistence console
  h2:
    console:
      path: /admin/database
      enabled: true
      settings:
        web-allow-others: true
  # How to deal with REST representation problems
  jackson:
    deserialization:
      fail-on-unknown-properties: true
title: '@project.name@'
springdoc:
  swagger-ui:
    path: /admin/api
project_desc: '@project.description@'
contact_email: '@email@'
licence: '@licence_name@'
contact_url: '@project.url@'
organization_name: '@project.organization.name@'
version: '@project.version@'
management:
  endpoints:
    enabled-by-default: false       
    