.NavMenu > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}

.NavMenu.vertical.fancy {
  background-color: white;
  & > a {
    display: block;
    color: black;
    padding: 6px 20px 6px 20px;
    height: 40px;
    line-height: 40px;
    &:hover {
      background: rgba(15, 113, 203, 0.05);
      border-radius: 10px;
    }
  }
}

.NavMenu.horizontal.fancy {
  display: flex;
  & > a {
    color: #888;
    padding: 10px 0;
    margin: 16px;
    border-bottom: 2px solid white;
    &:hover {
      border-bottom: 2px solid #ccc;
    }
    &.active {
      color: black;
      border-bottom: 2px solid black;
    }
  }
}

.NavMenu.fancy {
  font-size: 14px;
  line-height: 20px;
}

.NavMenu.plain {
  & > a {
    padding: 0;
    margin: 8px;
    text-decoration: underline;
  }
}
