.Menu > a {
  color: black;
  text-decoration: none;
}

.Menu > a:hover {
  background-color: #f8f8f8;
}

.Menu.vertical {
  width: 100%;
  background-color: white;
  border: 1px solid #f5f5f5;
}

.Menu.vertical > a {
  display: block;
  padding: 6px 20px 6px 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f5f5f5;
}

.Menu.horizontal {
  display: flex;
}

.Menu.horizontal > a {
  padding: 10px;
  margin: 6px;
  border-bottom: 2px solid white;
}

.Menu.horizontal > a.active {
  border-bottom: 2px solid rgb(186, 201, 56);
}
