@import '../../../scss/main';

$button-plus-medium-width: to-rem(36px);
$button-plus-medium-height: to-rem(36px);
$button-plus-small-width: to-rem(28px);
$button-plus-small-height: to-rem(28px);
$button-plus-border-width: to-rem(2px);

.button-plus {  
  @include typography(body-02);
  @include button-color-variant(
    $background-color: color(primary),
    $color: color(white),
    $hover-background-color: color(primary-hover)
  );
  width: $button-plus-medium-width;
  height: $button-plus-medium-height;
  border: none;
  border-radius: 100%;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(color(primary), 0.4);
  }

  &:disabled,
  &.button-disabled {
    cursor: default;
    pointer-events: none;
  }

  &.button-secondary {
    @include button-color-variant(
      $background-color: color(secondary),
      $color: color(primary),
      $hover-background-color: color(secondary-hover),
      $hover-color: color(primary-active)
    );
  }

  &.button-outlined {
    @include button-color-variant(
      $background-color: transparent,
      $color: color(primary),
      $border-width: $button-plus-border-width,
      $border-color: color(primary),
      $hover-color: color(primary-hover),
      $disabled-background-color: transparent
    );
  }

  &.button-text {
    @include button-color-variant(
      $background-color: transparent,
      $color: color(primary),
      $hover-background-color: color(secondary-hover),
      $hover-color: color(primary-active),
      $disabled-background-color: transparent
    );
  }

  &.button-small {
    @include typography(body-03);
    width: $button-plus-small-width;
    height: $button-plus-small-height;
  }
}