.LangSwitch {
  text-align: left;
  background-color: white;
  padding: 6px 20px 6px 20px;
  height: 40px;
  line-height: 40px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

input[type='radio'] {
  appearance: none;
  margin: 0;
  & + label {
    margin: 0 8px;
    text-transform: uppercase;
    color: #0f71cb;
    &:hover {
      color: #017ab0;
    }
  }
  &:checked + label {
    color: #111111;
    border-bottom: 2px solid #111111;
  }
}
